<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='All Banks')"></head>
<body>

<div class="container">
    <div class="row">
        <div class="col s10">
            <h1>All Banks</h1>
            <ul class="collection">
                <li class="collection-item"  data-th-each="bank : ${banks}">
                    <a data-th-href="@{|/banks/${bank.id}|}">
                        <span data-th-text="${bank.name}"></span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>

</body>
</html>