<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='All banks')"></head>
<body>

<div class="container">
    <div class="row">
        <div style="text-align: center;">
            <div class="col s12">
                <h1>All Banks</h1>
                <ul class="collection">
                    <li class="collection-item" data-th-each="bank : ${banks}">
                        <a data-th-href="@{|/banks/${bank.id}|}">
                            <h4><span data-th-text="${bank.name}"></span></h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>

</body>
</html>