<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='All cards')"></head>
<body>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>All Cards</h1>
            <ul class="collection">
                <li class="collection-item"  data-th-each="card : ${cards}">
                    <a data-th-href="@{/banks/{bankId}/cards/{cardId}/categories (bankId=${card.bankId},cardId=${card.id})}">
                        <span data-th-text="${card.name}"></span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>


</body>
</html>