<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='All categories')"></head>
<body>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>All Categories</h1>
            <ul class="collection">
                <li class="collection-item" data-th-each="category : ${category}">
                    <a data-th-href="@{/places?categoryId={categoryId} (categoryId=${category.id})}">
                        <span data-th-text="${category.name}"></span>
                        <span data-th-text="${category.mcc}"></span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>


</body>
</html>