<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='All places')"></head>
<body>

<div class="container">
    <div class="row">
        <div style="text-align: center;">
            <div class="col s12">
                <h1>All places</h1>
                <ul class="collection">
                    <li class="collection-item" data-th-each="place : ${places}">
                        <a>
                            <div style="color: black">
                                <h4><span data-th-text="${place.name}"></span></h4> <h5>(mcc:
                                <span data-th-text="${place.mcc}"></span>)</h5>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>


</body>
</html>