<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='All places')"></head>
<body>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>All Cards</h1>
            <ul class="collection">
                <li class="collection-item" data-th-each="place : ${places}">
                    <a>
                        <span data-th-text="${place.id}"></span>
                        <span data-th-text="${place.name}"></span>
                        <span data-th-text="${place.mcc}"></span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>


</body>
</html>